ol.breadcrumb {
    background: transparent;
}

.breadcrumb > li + li:before {
    content: ">" !important;
}

.btn_alinhado {
    margin-top: 30px;
}

.pagination_center {
    display: flex !important;
    justify-content: center !important;
    justify-items: center !important;
}

.centralizado {
    text-align: center !important;
}

.lblCifrao {
    font-weight: 700;
}

.spanTotal, .spanFalta {
    font-size: 40px;
    font-weight: 700;
}

.filtros {
    display: none;
}

.content_center {
    display: flex;
    justify-content: center;
}
